h1 {
    font-family: "Script MT Bold", "Brush Script MT", cursive;
    font-size: 50px;
}

h1, .sub-h1 {
    text-align: center;
}

.has-sub-h2 {
    margin-bottom: -20px;
    padding-bottom: 0;
}

h1, ul li::marker {
    color:  rgb(65, 36, 36);
}

ul li {
    margin: 20px 20px;
    padding-left: 15px;
    font-size: 22px;
}

ul.recipe-list li a {
    color: #9e0a2f;
    font-weight: 700;
    text-decoration: none;
}

ul li.bread::marker {
    content: '🍞';
}

ul li.dumpling::marker {
    content: '🥟';
}

ul li.dessert::marker {
    content: '🍰';
}

img {
    width: 100%;
    min-width: 400px;
    max-width: 500px;
    height: auto;
    margin: 0 auto;
    display: block;
    padding: 4px;
    border: bisque solid 4px;
}

h2 {
    font-family: "Times New Roman", "Liberation Serif", serif;
    font-size: 26px;
    padding-top: 10px;
}

h2, p, ol li {
    margin: 20px 10px;
    padding: 0 10px;
    /* padding-left: 10px;
    margin-left: 10px; */
}

h3 {
    padding-left: 15px;
    margin-left: 15px;
}

ul.ingred li {
    margin: 10px;
    padding-left: 5px;
}

ul.ingred li, p, ol li {
    font-size: 20px;
}

ol li {
    /* margin: auto; */
    margin-bottom: 20px;
}

ol {
    padding-bottom: 30px;
    padding-right: 10px;
}

ul.ingred li ul li {
    margin: auto;
    padding-left: 0;
    font-size: 16px;
}

div ol li {
    margin-left: 10px;
}

div ol li p {
    margin-left: 0;
    padding-left: 0;
}

body {   
    background-color: #473535;
    /* background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 1500px auto;
    background-color: rgba(255,255,255,0.35);
    background-blend-mode: luminosity; */
    /* opacity: 0.8; */
}

.site-title, 
.recipe-box, 
.recipe-title, 
.recipe {
    min-width: 400px;
    margin: 0 auto;
}

.site-title, 
.recipe-title {
    background-color: bisque;
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 5px;
}

.recipe-box {
    max-width: 500px;   
}

.recipe-box, 
.recipe {
    background-color: hsl(33, 80%, 92%);
    border: rgb(65, 36, 36) double 10px;
}

.recipe {
    padding: 15px 15px;
    margin: 20px auto;
}

.home-link {
    font-size: 20px;
    color: rgba(255,228,196,0.5);
    margin: 5px;
    padding-bottom: 25px;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}